* {
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    text-align: horizontal;
}

header {
    position: fixed;
    display: flex;
    z-index: 1000;
    border-bottom: 1px solid seashell;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 19px 10px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    display: flex;
    margin-left: 20px;
}

header ul li a {
    font-size: 30px;
}
